.s-series {
  padding-top: 19.2rem;
  padding-bottom: 19.2rem;
  min-height: 80rem;
  background-color: #050505;
  background-image: url(../public/images/pattern.jpg);
  background-size: 760px 380px;
  color: #ffffff;
  position: relative;
}

.s-series::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .75;
}

.s-series h2 {
  font-size: 5.2rem;
  line-height: 1.231;
  color: #ffffff;
  margin-top: 1.6rem;
  margin-bottom: 5.6rem;
}

/* ------------------------------------------------------------------- 
 * ## series image 
 * ------------------------------------------------------------------- */
.series-img {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
}

.series-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* ------------------------------------------------------------------- 
 * ## series content 
 * ------------------------------------------------------------------- */
.series-content {
  padding: 12rem 6.8rem 8.8rem;
  max-width: 1340px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.series-content .column:first-child {
  padding-right: 7.2rem;
}

.series-content .column:last-child {
  padding-left: 7.2rem;
}

/* ------------------------------------------------------------------- 
 * ## series buttons 
 * ------------------------------------------------------------------- */
.series-content__buttons {
  padding-bottom: 4.8rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.series-content__buttons .btn {
  background-color: #000000;
  border-color: #000000;
}

.series-content__buttons .btn:hover,
.series-content__buttons .btn:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

/* ------------------------------------------------------------------- 
 * ## series subscribe 
 * ------------------------------------------------------------------- */
.series-content__subscribe {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.867;
  padding: 0 4rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.series-content__subscribe-links {
  list-style: none;
  display: block;
  margin: 0;
  text-align: center;
}

.series-content__subscribe-links li {
  display: inline-block;
  padding-left: 0;
  line-height: 1;
}

.series-content__subscribe-links a {
  display: block;
  height: 3.8rem;
  width: 3.8rem;
  margin: 0 1.2rem 1.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.series-content__subscribe-links .ss-apple-podcast a {
  background-image: url(../public/images/icons/podcast/icon-podcast.svg);
}

.series-content__subscribe-links .ss-spotify a {
  background-image: url(../public/images/icons/podcast/icon-spotify.svg);
}

.series-content__subscribe-links .ss-soundcloud a {
  background-image: url(../public/images/icons/podcast/icon-soundcloud.svg);
}

.series-content__subscribe-links .ss-youtube a {
  background-image: url(../public/images/icons/podcast/icon-youtube.svg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * series
 * ------------------------------------------------------------------- */
@media screen and (max-width:1400px) {
  .series-content {
    padding: 12rem 4rem 8.8rem;
  }

  .series-content .column:first-child {
    padding-right: 4.4rem;
  }

  .series-content .column:last-child {
    padding-left: 4.4rem;
  }

}

@media screen and (max-width:1200px) {
  .s-series {
    padding-top: 13.6rem;
    padding-bottom: 13.6rem;
  }

  .series-img {
    left: 0;
  }

  .series-img::before {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .series-content {
    max-width: 960px;
  }

  .series-content .column:first-child,
  .series-content .column:last-child {
    padding: 0 16px;
  }

}

@media screen and (max-width:800px) {
  .s-series h2 {
    font-size: 4.8rem;
  }

}

@media screen and (max-width:600px) {
  .s-series h2 {
    font-size: 4.2rem;
  }

  .series-content {
    padding: 0 25px;
    border: none;
  }

  .series-content .column:first-child,
  .series-content .column:last-child {
    padding: 0 10px;
  }

  .series-content__subscribe-links a {
    height: 3.6rem;
    width: 3.6rem;
  }

}

@media screen and (max-width:400px) {
  .series-content {
    padding: 0 22px;
  }

  .series-content .column:first-child,
  .series-content .column:last-child {
    padding: 0;
  }

}


/* ===================================================================
 * # social  
 *
 * ------------------------------------------------------------------- */
.s-social {
  padding-top: 10.4rem;
  padding-bottom: 9.6rem;
  background-color: #000000;
}

.social-content {
  max-width: 1000px;
}

.social-list {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 5.6rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: center;
  margin: 0;
}

.social-list li {
  display: inline-block;
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}

.social-list a {
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list__icon {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 2rem;
  position: relative;
}

.social-list__icon::before {
  content: "";
  display: block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
  left: 50%;
}

.social-list__icon--facebook::before {
  background-image: url(../public/images/icons/social/icon-facebook.svg);
}

.social-list__icon--twitter::before {
  background-image: url(../public/images/icons/social/icon-twitter.svg);
}

.social-list__icon--instagram::before {
  background-image: url(../public/images/icons/social/icon-instagram.svg);
}

.social-list__icon--email::before {
  background-image: url(../public/images/icons/social/icon-email.svg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * social
 * ------------------------------------------------------------------- */
@media screen and (max-width:1200px) {
  .social-list li {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
  }

}

@media screen and (max-width:1000px) {
  .social-list__text {
    display: none;
  }

  .social-list__icon {
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 0;
  }

  .social-list__icon::before {
    height: 2.4rem;
    width: 2.4rem;
  }

}

@media screen and (max-width:600px) {
  .social-list__icon {
    width: 4.8rem;
    height: 4.8rem;
  }

  .social-list__icon::before {
    height: 2rem;
    width: 2rem;
  }

}

@media screen and (max-width:400px) {
  .social-list li {
    margin-right: .8rem;
    margin-left: .8rem;
  }

  .social-list__icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .social-list__icon::before {
    height: 1.6rem;
    width: 1.6rem;
  }

}